<?php
/**
 * Copyright © 2015 ZealousWeb. All rights reserved.
 */

/** @var \ZealousWeb\GTranslator\Block\Select $block */
?>
<div id="google_translate_element" style="float:left;"></div>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: '<?php echo $block->getPageLanguage(); ?>', includedLanguages: '<?php echo $block->getLanguagesIncluded(); ?>', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
	}
</script>